<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Questioner</title>
  <link rel="icon" href="../static/images/logos/questioner-logo-2.png" type="image/icon" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/all.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/css/responsive_all.css">
  <link rel="stylesheet" href="../static/css/meetups-main.css">
  <link rel="stylesheet" href="../static/css/admin-meet.css">
</head>

<body>
  <header class="main-header">
    <div class="landing-image-box">
      <a href="index.html"> <img src="../static/images/logos/questioner-logo-5.png" alt="" class="logo-img" /></a>
      <span class="page-title">Questioner</span>
    </div>
    <div class="landing-content">
      <div class="text-content">
        <h1 class="wonder">
          Welcome back Trevor! <br>
          Lets plan for Our next Meetup!
        </h1>
      </div>
      <!-- <button class="nav-button">
				<span class="fas fa-bars"></span>

			</button> -->
      <div class="main-page-nav">
        <div class="nav-lists"><a href="meetups.html" class="nav-links">Active <span class="fas hide-icon fa-thumbtack">
            </span> </a> </div>
        <div class="nav-lists"><a href="" class="nav-links">
            Created <span class="fas hide-icon fa-star"></span>
          </a></div>
        <div class="nav-lists"><a href="admin-page.html" class="nav-links">
            My Profile <span class="fas hide-icon fa-id-card"></span>
          </a></div>
      </div>
    </div>
  </header>

  <div class="top-feed">
    <h1 class="activity-title">
      All Meetups (240)
    </h1>
    <div class="admin-feeds">
      <div class="feed-box feed-1">
        <div class="feed-image">
          <img src="../static/images/meetup-types/social/cool-rainbow-meetup.jpeg" alt="" class="meetup-pic">
        </div>
        <div class="feed-text">
          <h3 class="meetup-title">I've Missed you Friends</h3>
          <p class="feed-quiz">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
            lorem
          </p>
        </div>

        <div class="meetup-details">
          <div class="key-details">
            <span class="fas fa-calendar-check"></span>
            Date
            <p>Jan 9th 2019</p>
          </div>

          <div class="key-details">
            <span class="fas fa-map-marker"></span>
            Venue
            <p> <a href="#"> ICEA Towers</a></p>
          </div>

          <div class="key-details">
            <span class="fas fa-users"></span> Host(s)
            <p>
              <a href="#">Trevor Kurland</a> <br>
              <a href="#">Mitch Milton</a>
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="add-meetup">
      <button class="add-mtp-btn">Delete Meetup</button>
    </div>
  </div>
  <div class="admin-feeds">
    <div class="feed-box feed-2">
      <div class="feed-image">
        <img src="../static/images/meetup-types/buss/marketting meetup.png" alt="" class="meetup-pic">
      </div>
      <div class="feed-text">
        <h3 class="meetup-title">Lets handle marketting in a new style</h3>
        <p class="feed-quiz">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
          lorem
        </p>
      </div>

      <div class="meetup-details">
        <div class="key-details">
          <span class="fas fa-calendar-check"></span>
          Date
          <p>Jan 9th 2019</p>
        </div>

        <div class="key-details">
          <span class="fas fa-map-marker"></span>
          Venue
          <p> <a href="#"> ICEA Towers</a></p>
        </div>

        <div class="key-details">
          <span class="fas fa-users"></span> Host(s)
          <p>
            <a href="#">Trevor Kurland</a> <br>
            <a href="#">Mitch Milton</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="add-meetup">
    <button class="add-mtp-btn">Delete Meetup</button>
  </div>
  </div>
  <div class="admin-feeds">
    <div class="feed-box feed-3">
      <div class="feed-image">
        <img src="../static/images/meetup-types/girl/girl-boss-meetup.jpeg" alt="" class="meetup-pic">
      </div>
      <div class="feed-text">
        <h3 class="meetup-title">Women on the Move Meetup</h3>
        <p class="feed-quiz">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
          lorem
        </p>
      </div>

      <div class="meetup-details">
        <div class="key-details">
          <span class="fas fa-calendar-check"></span>
          Date
          <p>Jan 9th 2019</p>
        </div>

        <div class="key-details">
          <span class="fas fa-map-marker"></span>
          Venue
          <p> <a href="#"> ICEA Towers</a></p>
        </div>

        <div class="key-details">
          <span class="fas fa-users"></span> Host(s)
          <p>
            <a href="#">Trevor Kurland</a> <br>
            <a href="#">Mitch Milton</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="add-meetup">
    <button class="add-mtp-btn">Delete Meetup</button>
  </div>
  </div>
  <div class="admin-feeds">
    <div class="feed-box feed-1">
      <div class="feed-image">
        <img src="../static/images/meetup-types/social/cool-rainbow-meetup.jpeg" alt="" class="meetup-pic">
      </div>
      <div class="feed-text">
        <h3 class="meetup-title">I've Missed you Friends</h3>
        <p class="feed-quiz">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
          lorem
        </p>
      </div>

      <div class="meetup-details">
        <div class="key-details">
          <span class="fas fa-calendar-check"></span>
          Date
          <p>Jan 9th 2019</p>
        </div>

        <div class="key-details">
          <span class="fas fa-map-marker"></span>
          Venue
          <p> <a href="#"> ICEA Towers</a></p>
        </div>

        <div class="key-details">
          <span class="fas fa-users"></span> Host(s)
          <p>
            <a href="#">Trevor Kurland</a> <br>
            <a href="#">Mitch Milton</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="add-meetup">
    <button class="add-mtp-btn">Delete Meetup</button>
  </div>
  </div>
  <div class="admin-feeds">
    <div class="feed-box feed-2">
      <div class="feed-image">
        <img src="../static/images/meetup-types/buss/marketting meetup.png" alt="" class="meetup-pic">
      </div>
      <div class="feed-text">
        <h3 class="meetup-title">Lets handle marketting in a new style</h3>
        <p class="feed-quiz">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
          lorem
        </p>
      </div>

      <div class="meetup-details">
        <div class="key-details">
          <span class="fas fa-calendar-check"></span>
          Date
          <p>Jan 9th 2019</p>
        </div>

        <div class="key-details">
          <span class="fas fa-map-marker"></span>
          Venue
          <p> <a href="#"> ICEA Towers</a></p>
        </div>

        <div class="key-details">
          <span class="fas fa-users"></span> Host(s)
          <p>
            <a href="#">Trevor Kurland</a> <br>
            <a href="#">Mitch Milton</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="add-meetup">
    <button class="add-mtp-btn">Delete Meetup</button>
  </div>
  </div>
  <div class="admin-feeds">
    <div class="feed-box feed-3">
      <div class="feed-image">
        <img src="../static/images/meetup-types/girl/girl-boss-meetup.jpeg" alt="" class="meetup-pic">
      </div>
      <div class="feed-text">
        <h3 class="meetup-title">Women on the Move Meetup</h3>
        <p class="feed-quiz">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ea?
          lorem
        </p>
      </div>

      <div class="meetup-details">
        <div class="key-details">
          <span class="fas fa-calendar-check"></span>
          Date
          <p>Jan 9th 2019</p>
        </div>

        <div class="key-details">
          <span class="fas fa-map-marker"></span>
          Venue
          <p> <a href="#"> ICEA Towers</a></p>
        </div>

        <div class="key-details">
          <span class="fas fa-users"></span> Host(s)
          <p>
            <a href="#">Trevor Kurland</a> <br>
            <a href="#">Mitch Milton</a>
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="add-meetup">
    <button class="add-mtp-btn">Delete Meetup</button>
  </div>
  </div>
  </div>



  <footer class="main-footer">
    <div class="footer-children footer-nav">
      <ul class="navbar">
        <li class="foot-nav-items">
          <a href="#" class="foot-nav-links"><span class="fas fa-home"></span> Home</a>
        </li>

        <li class="foot-nav-items"><a href="#" class="foot-nav-links"><span class="fas fa-envelope"></span> Contacts</a>
        </li>

        <li class="foot-nav-items">
          <a href="#" class="foot-nav-links"><i class="fas fa-info-circle"></i> About</a>
        </li>

        <li class="foot-nav-items">
          <a href="#" class="foot-nav-links"><span class="fas fa-comments"></span> FAQs</a>
        </li>
      </ul>
    </div>
    <div class="footer-children response-form-box">
      <form action="" class="resp-form">
        <textarea name="" id="" rows="10" class="remark" placeholder="Leave a comment on how this site can be improved to serve you better"></textarea>
        <input type="submit" role="button" value="send your comment" class="send-remark sign">
      </form>
    </div>

  </footer>

</body>

</html>