<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Questioner</title>
    <link rel="icon" href="../static/images/logos/questioner-logo-2.png" type="image/icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/meetups-main.css">
    <script src="../static/js/main.js"></script>
</head>

<body>
    <header class="main-header">
        <div class="landing-image-box">
            <a href="index.html"> <img src="../static/images/logos/questioner-logo-5.png" alt="" class="logo-img" /></a>
            <span class="page-title">Questioner</span>
        </div>
        <div class="landing-content">
            <div class="text-content">
                <h1 class="wonder">
                    Welcome back Trevor! <br>
                    Lets plan for Our next Meetup!
                </h1>
            </div>
            <div class="main-page-nav">
                <div class="nav-lists"><a href="meetups.html" class="nav-links">All <span class="fas fa-thumbtack">
                        </span> </a>
                </div>
                <div class="nav-lists"><a href="" class="nav-links">
                        favorites <span class="fas fa-star"></span>
                    </a></div>
                <div class="nav-lists"><a href="" class="nav-links">
                        My Profile <span class="fas fa-id-card"></span>
                    </a></div>
            </div>
        </div>
    </header>

    <section class="chosen-meetup">
        <div class="header-meetup">
            <img src="../static/images/meetup-types/js/js-meetup.png" alt="" class="meetup-pic">
        </div>
        <div class="description-select">
            <h3 class="meetup-select-title">
                Let's learn Javascript Together
            </h3>
            <p class="desctext-select">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum perspiciatis facilis consectetur
                debitis ea laborum hic aut
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis iusto dolorem
                assumenda impedit
                ratione labore praesentium eaque autem repudiandae ab natus, voluptates ullam vel fugit esse
                exercitationem! Nisi,
                repellendus?
            </p>
    </section>

    <section class="question-views">
        <div class="question-asked">
            <div class="a-question">
                <div class="user-image">
                    <img src="../static/images/question-main-page/questions-image.jpg" alt="">
                    <span class="my-user-name me-usr-nme">
                        Username
                    </span>
                </div>
                <div class="quest-content">
                    <p class="quiz-content">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea pariatur
                        nobis quas rerum
                        neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque
                        dolores
                        sed perspiciatis dolorum illo, ab maiores voluptatem.
                    </p>
                </div>
            </div>
            <div class="vote-for">
                <div class="up-vote">
                    <span class="fas fa-thumbs-up  voter"></span>
                    <span class="number-up-vote voter">
                        8
                    </span>
                </div>
                <div class="down-vote">
                    <span class="fas fa-thumbs-down voter"></span>
                    <span class="number-down-vote voter">
                        3
                    </span>
                </div>
            </div>
        </div>

        <div class="question-asked comment-box">
            <div class="a-question com-que">
                <div class="user-image comment-image">
                    <img src="../static/images/question-main-page/questions-image.jpg" alt="">
                    <span class="my-user-name me-usr-nme">
                        Username
                    </span>
                </div>
                <div class="quest-content comment-content">
                    <p class="quiz-content comment-par">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea
                        pariatur
                        nobis quas rerum
                        neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque
                        dolores
                        sed perspiciatis dolorum illo, ab maiores voluptatem.
                    </p>
                </div>
            </div>
        </div>

        <div class="question-asked asking-box">
            <div class="a-question ask-box">
                <button role="button" class="show-question-form add-comment" id="addQuiz">Add Comment</button>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="footer-children footer-nav">
            <ul class="navbar">
                <li class="foot-nav-items">
                    <a href="#" class="foot-nav-links"><span class="fas fa-home"></span> Home</a>
                </li>

                <li class="foot-nav-items"><a href="#" class="foot-nav-links"><span class="fas fa-envelope"></span>
                        Contacts</a>
                </li>

                <li class="foot-nav-items">
                    <a href="#" class="foot-nav-links"><i class="fas fa-info-circle"></i> About</a>
                </li>

                <li class="foot-nav-items">
                    <a href="#" class="foot-nav-links"><span class="fas fa-comments"></span> FAQs</a>
                </li>
            </ul>
        </div>
        <div class="footer-children response-form-box">
            <form action="" class="resp-form">
                <textarea name="" id="" rows="10" class="remark" placeholder="Leave a comment on how this site can be improved to serve you better"></textarea>
                <input type="submit" role="button" value="send your comment" class="send-remark sign">
            </form>
        </div>

    </footer>

</body>

</html>