<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Questioner</title>
    <link rel="icon" href="../static/images/logos/questioner-logo-2.png" type="image/icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/responsive_all.css">
</head>

<body>
    <header class="main-header" id="hdd">
        <div class="landing-image-box">
            <a href="index.html"> <img src="../static/images/logos/questioner-logo-5.png" alt="" class="logo-img" /></a>
            <span class="page-title">Questioner</span>
        </div>
        <div class="landing-content">
            <div class="text-content">
                <h1 class="wonder">
                    Wondering what will be discussed in your upcoming meetups?
                </h1>
            </div>
            <div class="main-page-nav">
                <a href="signup.html"> <span class="sign signup"> sign up </span></a>
                <a href="login.html"><span class="login sign"> sign in </span>
                </a>
            </div>
        </div>
    </header>

    <section class="about-questioner">
        <h2 class="motion-mover">Become a meetup motion mover</h2>
        <div class="main-functions">
            <div class="actual-functions">
                <span class="fas fa-question"></span>
                <p class="text-fun">Suggest a question to be discussed</p>

            </div>
            <div class="actual-functions">
                <span class="fas fa-comment"></span>
                <p class="text-fun">
                    comment on a questiond suggested
                </p>

            </div>
            <div class="actual-functions">
                <span class="fas fa-check"></span>
                <p class="text-fun">
                    vote questions you prefer for discussion
                </p>

            </div>
        </div>
    </section>

    <section class="main-meetup-categories">

        <h3 class="meetups-available page-title">
            Major meetups
        </h3>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/js/js-meetup-1.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Javascript Developer Meetups
                    </h2>
                    <p class="desctext">
                        Node Js on the loose. So lets get on the loose together and do some great work in node.
                        <br>
                        #Javascript #Backend #Node
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/ai/ai-meetup-logofb.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        AI Meetups
                    </h2>
                    <p class="desctext">
                        Artifitial intelligence has become one of the biggest ground shakers we have in the
                        developement
                        world today.
                        <br>Wanna know why??
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/ml/ml-meetup-1.png" alt="" class="meetup-pic">
                    </h2>
                </div>
                <h2 class="meetup-category-name">
                    Machine and deep learning meetups
                    <div class="descriprion">
                        <p class="desctext">
                            Newer trends in machine learning. Meet the best so far to exist in this field,
                            learn more and do more.
                        </p>
                    </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/web-design/web-design-meetup-3.jpeg" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Web design meetups
                    </h2>
                    <p class="desctext">
                        We meet, we design we chill, we have fun, That what design is all about.
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/python/python-meetup-1.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Python Developer meetups
                    </h2>
                    <p class="desctext">
                        Is it Django or is it just FLASK. Come and find out for yourself??
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/php/php-meeteup-1.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        PHP Developer Meetups
                    </h2>
                    <p class="desctext">
                        Old is gold. Goes without saying. Still the best backend we have. Come lets learn php/
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/iot/iot-meetup-3.jpg" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        IOT Meetups
                    </h2>
                    <p class="desctext">
                        IOT meetups for everyone who is intrested in learning new tricks iin a new day. All are
                        invited.
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/cyber/cyber-sec-meetup-2.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Cyber Security Meetups
                    </h2>
                    <p class="desctext">
                        Its no longr cyber crime, we call it cyber security. Don't wait to get hcked,just unhack
                        yourself
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/soft-skill/SoftSkill-meetup-2.jpg" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Soft Skill Meetups
                    </h2>
                    <p class="desctext">
                        Enjoy a meetup with your fellow friends and developers and get inspired. Talk to someone then
                        go
                        home and sleep.
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/buss/business-meetup.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Business & Finance Meetups
                    </h2>
                    <p class="desctext">
                        Marketting and networking are the best games to be playing in the current times. Quite sure you
                        wnt
                        mind learning some tips.
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/social/coffee-meetup.jpeg" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        Friendship Meetups
                    </h2>
                    <p class="desctext">
                        Hello friends!! We meet again
                    </p>
                </div>
            </a>
        </div>
        <div class="category-box">
            <a href="signup.html">
                <div class="header">
                    <img src="../static/images/meetup-types/ux/ux-meetup-1.png" alt="" class="meetup-pic">
                </div>
                <div class="descriprion">
                    <h2 class="meetup-category-name">
                        UX Design Meetups
                    </h2>
                    <p class="desctext">
                        Do you feel what you design or do you design what you feel. Choice is yours to make.
                    </p>
                </div>
        </div>

    </section>

    <footer class="main-footer">

        <h2>
            Join questioner, join fellow meeters and move motions together
        </h2>

        <a href="signup.html" class="sign">
            Join Us Today
        </a>

    </footer>

</body>

</html>