<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Questioner</title>
	<link rel="icon" href="../static/images/logos/questioner-logo-2.png" type="image/icon" />
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/all.css" />
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
	<link rel="stylesheet" href="../static/css/responsive_all.css">
	<link rel="stylesheet" href="../static/css/meetups-main.css">
</head>

<body>
	<header class="main-header">
		<div class="landing-image-box">
			<a href="index.html"> <img src="../static/images/logos/questioner-logo-5.png" alt="" class="logo-img" />
				<span class="page-title">Questioner</span></a>
		</div>
		<div class="landing-content">
			<div class="text-content">
				<h1 class="wonder">
					Welcome back Trevor! <br>
					Lets plan for Our next Meetup!
				</h1>
			</div>
			<div class="main-page-nav">
				<div class="nav-lists"><a href="meetups.html" class="nav-links">All <span class="fas fa-thumbtack"> </span> </a>
				</div>
				<div class="nav-lists"><a href="" class="nav-links">
						favorites <span class="fas fa-star"></span>
					</a></div>
				<div class="nav-lists"><a href="user-profile.html" class="nav-links">
						My Profile <span class="fas fa-id-card"></span>
					</a></div>
			</div>
		</div>
	</header>

	<section class="main-meetup-categories">

		<h3 class="meetups-available page-title">
			Upcoming Events
		</h3>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/js/js-meetup.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Learn JS With Us
				</h2>
				<p class="desctext">
					JavaScript has become one of the most popular and widely used programming language in the world. In a large part,
					JavaScript!
					<br>
					#Javascript #Backend #Node
				</p>
				</p>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/ai/ai-ml-meetup.jpeg" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Whats New in AI
				</h2>
				<p class="desctext">
					Artifitial intelligence has become one of the biggest ground shakers we have in the developement world today.
					<br>Wanna know why??
				</p>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/ml/ml-meetup-1.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Machine and deep learning on a Different Level
				</h2>
				<p class="desctext">
					Newer trends in machine learning. Meet the best so far to exist in this field,
					learn more and do more.
				</p>
			</div>
		</div>
		<div class="category-box h-3-hide">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/social/cool-rainbow-meetup.jpeg" alt="" class="meetup-pic">
				</a>
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Hi Friend! What are you doing this weekend?
				</h2>
				<p class="desctext">
					Meet your once in a while friends and enjoy the day.
				</p>
			</div>
		</div>
		</div>
	</section>


	<section class="main-meetup-categories">
		<h3 class="meetups-available page-title">
			This Week
		</h3>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/web-design/web-design-meetup-3.jpeg" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						Lets Leran Something new in Design
					</h2>
					<p class="desctext">
						We meet, we design we chill, we have fun, That what design is all about.
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/buss/business-meetup-1.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						Is it Business or Networking?? Come Find Out.
					</h2>
					<p class="desctext">
						Old is gold. Goes without saying. Still the best backend we have. Come lets learn php/
					</p>
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/python/python-meetup-1.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						Just Found out some new cool Python tricks
					</h2>
					<p class="desctext">
						Is it Django or is it just FLASK. Come and find out for yourself??
					</p>
				</a>
			</div>
		</div>
		<div class="category-box h-3-hide">
			<div class="header">
				<img src="../static/images/meetup-types/php/php-meeteup-1.png" alt="" class="meetup-pic">
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Old is Gold, PHP for the new World
				</h2>
				<p class="desctext">
					Lets branch into Laravel. The futute of php
				</p>
			</div>
		</div>
	</section>


	<section class="main-meetup-categories">
		<h3 class="meetups-available page-title">
			Last Week
		</h3>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/iot/iot-meetup.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						A world of people and an Internet of things
					</h2>
					<p class="desctext">
						Iot meetup guys!!! Heads up.
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/cyber/hackathon-meetup.jpeg" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						Cyber Crime on the loose
					</h2>
					<p class="desctext">
						Defend yourself against cyber crime today and all will be ok. Its the 21st century security after all!!
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/soft-skill/soft-skill-meetup-1.jpg" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						The social life of an introvert! Lets Team up
					</h2>
					<p class="desctext">
						We make friend and have fun together. WE become FRIENDS
			</div></a>
		</div>
		<div class="category-box h-3-hide">
			<div class="header">
				<img src="../static/images/meetup-main-page/questioner-must-1.gif" alt="" class="meetup-pic">
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Are you thinking what am thinking
				</h2>
				<p class="desctext">
					Guess your not?? Lets meet and share mind blowing inspirations, @the
				</p>
			</div>
		</div>
	</section>


	<section class="main-meetup-categories">
		<h3 class="meetups-available page-title">
			Older
		</h3>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/buss/business-meetup-2.JPG" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						That Smart Business Strategy #3
					</h2>
					<p class="desctext">
						Marketting and networking are the best games to be playing in the current times. Quite sure you wnt mind learning
						some tips.
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/social/coffee-meetup.jpeg" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						Friendship is not friendship without a cup of coffee
					</h2>
					<p class="desctext">
						Haryy on. Friends are calling
					</p>
				</a>
			</div>
		</div>
		<div class="category-box">
			<div class="header">
				<a href="questions.html">
					<img src="../static/images/meetup-types/ux/ux-meetup-1.png" alt="" class="meetup-pic"></a>
			</div>
			<div class="descriprion">
				<a href="questions.html">
					<h2 class="meetup-category-name">
						UX Meets the Designer
					</h2>
					<p class="desctext">
						UI meets UX all in one just to blow your mind.
					</p>
				</a>
			</div>
		</div>
		<div class="category-box h-3-hide">
			<div class="header">
				<img src="../static/images/meetup-types/data-s/data-science-meet-up-3.png" alt="" class="meetup-pic">
			</div>
			<div class="descriprion">
				<h2 class="meetup-category-name">
					Where are we Data Scientists
				</h2>
				<p class="desctext">
					Be a pro data scientist.
					<br>be a cool data manager.
				</p>
			</div>
		</div>

	</section>



	<footer class="main-footer">
		<div class="footer-children footer-nav">
			<ul class="navbar">
				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><span class="fas fa-home"></span> Home</a>
				</li>

				<li class="foot-nav-items"><a href="#" class="foot-nav-links"><span class="fas fa-envelope"></span> Contacts</a>
				</li>

				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><i class="fas fa-info-circle"></i> About</a>
				</li>

				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><span class="fas fa-comments"></span> FAQs</a>
				</li>
			</ul>
		</div>
		<div class="footer-children response-form-box">
			<form action="" class="resp-form">
				<textarea name="" id="" rows="10" class="remark" placeholder="Leave a comment on how this site can be improved to serve you better"></textarea>
				<input type="submit" role="button" value="send your comment" class="send-remark sign">
			</form>
		</div>

	</footer>

</body>

</html>