<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Questioner</title>
	<link rel="icon" href="../static/images/logos/questioner-logo-2.png" type="image/icon" />
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/all.css" />
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
	<link rel="stylesheet" href="../static/css/meetups-main.css">
	<script src="../static/js/main.js"></script>
</head>

<body>
	<header class="main-header">
		<div class="landing-image-box">
			<a href="index.html"> <img src="../static/images/logos/questioner-logo-5.png" alt="" class="logo-img" /></a>
			<span class="page-title">Questioner</span>
		</div>
		<div class="landing-content">
			<div class="text-content">
				<h1 class="wonder">
					Welcome back Trevor! <br>
					Lets plan for Our next Meetup!
				</h1>
			</div>
			<div class="main-page-nav">
				<div class="nav-lists"><a href="" class="nav-links">pinned <span class="fas fa-thumbtack"> </span> </a>
				</div>
				<div class="nav-lists"><a href="" class="nav-links">
						favorites <span class="fas fa-star"></span>
					</a></div>
				<div class="nav-lists"><a href="" class="nav-links">
						notifications <span class="fas fa-bell"></span>
					</a></div>
				<div class="nav-lists"><a href="" class="nav-links">
						My Profile <span class="fas fa-id-card"></span>
					</a></div>
			</div>
		</div>
	</header>

	<section class="chosen-meetup">
		<div class="header-meetup">
			<img src="../static/images/meetup-types/js/js-meetup.png" alt="" class="meetup-pic">
		</div>
		<div class="description-select">
			<h3 class="meetup-select-title">
				Let's learn Javascript Together
			</h3>
			<p class="desctext-select">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum perspiciatis facilis consectetur
				debitis ea laborum hic aut
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis iusto dolorem
				assumenda impedit
				ratione labore praesentium eaque autem repudiandae ab natus, voluptates ullam vel fugit esse
				exercitationem! Nisi,
				repellendus?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis iusto dolorem
				assumenda impedit
				ratione labore praesentium eaque autem repudiandae ab natus, voluptates ullam vel fugit esse
				exercitationem! Nisi,
				repellendus?
			</p>

			<div class="meetup-details">
				<div class="key-details">
					<span class="fas fa-calendar-check"></span>
					Date
					<p>Jan 9th 2019</p>
				</div>

				<div class="key-details">
					<span class="fas fa-map-marker"></span>
					Venue
					<p> <a href="#"> ICEA Towers</a></p>
				</div>

				<div class="key-details">
					<span class="fas fa-users"></span> Host(s)
					<p>
						<a href="#">Trevor Kurland</a> <br>
						<a href="#">Mitch Milton</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="question-views">
		<div class="user-views">
			<div class="already-viewed">
				<p class="counted-views">
					<span class="text">Views</span> <br>
					<span class="number">100</span>
				</p>
			</div>
			<div class="total-questions">
				<p class="counted-views">
					<span class="text">Asked Questions</span> <br>
					<span class="number">11</span>
				</p>
			</div>
			<div class="remaining-days">
				<p class="counted-views">
					<span class="text">Days Left</span> <br>
					<span class="number">3</span>
				</p>
			</div>
		</div>


		<div class="question-asked">
			<div class="a-question">
				<div class="user-image">
					<img src="../static/images/question-main-page/questions-image.jpg" alt="">
				</div>
				<div class="quest-content">
					<p class="quiz-content">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea pariatur
						nobis quas rerum
						neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque dolores
						sed perspiciatis!
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sint vel provident quia temporibus expedita tempore
						incidunt ut quos error, ratione laboriosam iure necessitatibus iusto, dolorum illo, ab maiores voluptatem.
					</p>
				</div>
			</div>
			<div class="vote-for">
				<div class="up-vote">
					<span class="fas fa-thumbs-up  voter"></span>
					<span class="number-up-vote voter">
						8
					</span>
				</div>
				<div class="down-vote">
					<span class="fas fa-thumbs-down voter"></span>
					<span class="number-down-vote voter">
						3
					</span>
				</div>
				<div class="quest-comment">
					<a href="comments.html">
						<button role="button" class="comment-button">6 comments</button>
					</a>
				</div>
			</div>
		</div>
		<div class="question-asked">
			<div class="a-question">
				<div class="user-image">
					<img src="../static/images/question-main-page/questions-image.jpg" alt="">
				</div>
				<div class="quest-content">
					<p class="quiz-content">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea pariatur
						nobis quas rerum
						neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque dolores
						sed perspiciatis!
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sint vel provident quia temporibus expedita tempore
						incidunt ut quos error, ratione laboriosam iure necessitatibus iusto, dolorum illo, ab maiores voluptatem.
					</p>
				</div>
			</div>
			<div class="vote-for">
				<div class="up-vote">
					<span class="fas fa-thumbs-up  voter"></span>
					<span class="number-up-vote voter">
						8
					</span>
				</div>
				<div class="down-vote">
					<span class="fas fa-thumbs-down voter"></span>
					<span class="number-down-vote voter">
						3
					</span>
				</div>
				<div class="quest-comment">
					<a href="comments.html">
						<button role="button" class="comment-button">4 comments</button>
					</a>
				</div>
			</div>
		</div>
		<div class="question-asked">
			<div class="a-question">
				<div class="user-image">
					<img src="../static/images/question-main-page/questions-image.jpg" alt="">
				</div>
				<div class="quest-content">
					<p class="quiz-content">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea pariatur
						nobis quas rerum
						neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque dolores
						sed perspiciatis!
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sint vel provident quia temporibus expedita tempore
						incidunt ut quos error, ratione laboriosam iure necessitatibus iusto, dolorum illo, ab maiores voluptatem.
					</p>
				</div>
			</div>
			<div class="vote-for">
				<div class="up-vote">
					<span class="fas fa-thumbs-up  voter"></span>
					<span class="number-up-vote voter">
						8
					</span>
				</div>
				<div class="down-vote">
					<span class="fas fa-thumbs-down voter"></span>
					<span class="number-down-vote voter">
						3
					</span>
				</div>
				<div class="quest-comment">
					<a href="comments.html">
						<button role="button" class="comment-button">Add comment</button>
					</a>
				</div>
			</div>
		</div>
		<div class="question-asked">
			<div class="a-question">
				<div class="user-image">
					<img src="../static/images/question-main-page/questions-image.jpg" alt="">
				</div>
				<div class="quest-content">
					<p class="quiz-content">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, consequuntur ea pariatur
						nobis quas rerum
						neque porro cupiditate soluta iure animi, facilis illo. Modi doloribus numquam doloremque dolores
						sed perspiciatis!
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sint vel provident quia temporibus expedita tempore
						incidunt ut quos error, ratione laboriosam iure necessitatibus iusto, dolorum illo, ab maiores voluptatem.
					</p>
				</div>
			</div>
			<div class="vote-for">
				<div class="up-vote">
					<span class="fas fa-thumbs-up  voter"></span>
					<span class="number-up-vote voter">
						8
					</span>
				</div>
				<div class="down-vote">
					<span class="fas fa-thumbs-down voter"></span>
					<span class="number-down-vote voter">
						3
					</span>
				</div>
				<div class="quest-comment">
					<a href="comments.html">
						<button role="button" class="comment-button">2 comments</button>
					</a>
				</div>
			</div>
		</div>

		<div class="question-asked">
			<div class="a-question ask-box">
				<button role="button" class="show-question-form" id="addQuiz">Add a question</button>
			</div>
		</div>
	</section>

	<footer class="main-footer">
		<div class="footer-children footer-nav">
			<ul class="navbar">
				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><span class="fas fa-home"></span> Home</a>
				</li>

				<li class="foot-nav-items"><a href="#" class="foot-nav-links"><span class="fas fa-envelope"></span>
						Contacts</a>
				</li>

				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><i class="fas fa-info-circle"></i> About</a>
				</li>

				<li class="foot-nav-items">
					<a href="#" class="foot-nav-links"><span class="fas fa-comments"></span> FAQs</a>
				</li>
			</ul>
		</div>
		<div class="footer-children response-form-box">
			<form action="" class="resp-form">
				<textarea name="" id="" rows="10" class="remark" placeholder="Leave a comment on how this site can be improved to serve you better"></textarea>
				<input type="submit" role="button" value="send your comment" class="send-remark sign">
			</form>
		</div>

	</footer>

</body>

</html>